<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="flexboxgrid.min.css">
    <link rel="stylesheet" href="estilo_menu.css">
    <title>N MOTOS</title>
</head>
<body>
    <div class="container">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#">N MOTOS</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
                  aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:8000/index">INICIO</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:8000/pagina2">QUIÉNES SOMOS</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:8000/pagina3">GALERÍA DE IMAGENES</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:8000/pagina4">CATEGORÍAS</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:8000/pagina5">COTIZAR</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="http://127.0.0.1:8000/agregar_motocicleta">AGREGAR</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:8000/actualizar_motocicleta">ACTUALIZAR</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:8000/eliminar_motocicleta">ELIMINAR</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:8000/buscar">BUSCAR</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
        </header>
        Motocicleta buscada es: {{query}}
        <p>Motocicletas encontradas: {{motocicletas|length}} motocicletas</p>
        <table border="1">
            <thead>
                <tr>
                    <td>Marca</td>
                    <td>Modelo</td>
                    <td>Tipo de Motocicleta</td>
                    <td>Cilindrada</td>
                    <td>Número de Chasis</td>
                </tr>
            </thead>
            <tbody>
                {% if motocicletas %}
                {% for moto in motocicletas %}
                    <tr>
                        <td>{{ moto.marca }}</td>
                        <td>{{ moto.modelo }}</td>
                        <td>{{ moto.tipo_motocicleta }}</td>
                        <td>{{ moto.cilindra }}</td>
                        <td>{{ moto.num_chasis }}</td>
                    </tr>
                {% endfor %}
                {% else %}
                <h2>No existen registros de motocicletas</h2>
                {% endif %}
            </tbody>
        </table> 
        <form action="/filtro_marca/" method="GET">
            <br>
            Ingrese la marca de la motocicleta <input type="text" name="txt_marca">
            <input type="submit" value="Buscar">
        </form>
        <form action="/filtro_tipo_motocicleta/" method="GET">
            <br>
            Ingrese el tipo la motocicleta <input type="text" name="txt_tipo_motocicleta">
            <input type="submit" value="Buscar">
        </form>
    </div>
</body>
</html>