*{
    margin: 0;
    padding:0;    
}

body{
    background: #f2f2f2;
    font-family: monospace;
}

header{
    color:#fff;
}

header a{
    color:#fff
}

.logo-menu{
    font-weight: 300;
    font-size: 30px;
    background: #00171f;
}

.logo-menu .menu a{
    display: inline-block;
    padding:40px 20px;
}

.logo-menu .menu a:hover{
    border-bottom: 4px solid #ff9f1c;
    padding-bottom: 30px;
}


.contenido1{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 10px;
    text-align: right;
}

.contenido2{
    margin-top: 40px;
    margin-right: 10px;
    margin-left: 10PX;
    text-align: center;
    color: #00171f;
    font-size: xx-large;
}

.footer{
    color:#fff;
    background: #00171f;
    padding:10px;
 }


.contenido3{
    margin: 10px;
    text-align: center;
    color: #00171f;
    font-size: large;
}


.contenido4{
    margin: 10px;
    text-align: left;
    font-size: x-large;
    color: #00171f;
    
}

/*.contenido5{
    border: 20px #00171f;
    border-radius: 20px;
    margin: 10px;
    text-align: center;
    font-size: x-large;
    color: #00171f;
    
*\